body{
    margin: 0;
    padding: 0;
    background-image: url(img/img_fond.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150% 100%;
    background-color: black;
}
.container{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
li{
    display: inline-block;
    color: white;
    padding: 6px;
    font-size: 14px;
}
ul{
    list-style: none;
}
li img{
    width: 20px;
    height: 20px;
}
.navbar{
    border: 1px #39b54a solid;
    display: block;
    background-color: #39b54a;
    display: flex;
    justify-content: space-between;
}
.uppercase{
    text-transform: uppercase;
}
.melty{
    font-size: 40px;
    font-weight: bold;
}
strong{
    font-size: 19px;
}
.log{
    border: 1px white solid;
    border-width: 1px 1px;
    border-radius: 40px;
    text-align: center;
    margin-right: 5px;
    margin-left: 30px;
    color:#39b54a;
    background-color: white;
    font-weight: bold;
}
.content1{
    display: block;
    margin: auto;
    width: 930px;
    margin-top: 600px;
    border: 20px rgb(224, 219, 219) solid;
    background-color: rgb(224, 219, 219);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.content2{
    display: block;
    margin: auto;
    width: 930px;
    margin-top: 30px;
    border: 20px rgb(224, 219, 219) solid;
    background-color: rgb(224, 219, 219);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.actu1{
    display: flex;
    height: 385px;
    margin-bottom: 41px;
}
.block1{
    background-image: url(img/shym.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130% 100%;
    width: 65%;
}
.block2{
    width: 30%;
    background-color: white;
    margin-left: 41px;
}
.block2 img, .block3 img, .block4 img, .block5 img, .block6 img, .block7 img, .block8 img{
    width: 100%;
    margin-bottom: 20px;
}

.lien_img1{
    font-size: 20px;
    margin-top: 313px;
    text-transform: uppercase;
}
.lien_img1 a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.lien_img2 a, h2{
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}
.lien_img2 a:hover, h2:hover, h3:hover{
    color: #39b54a;
}
.lien_img2, .description{
   padding: 10px;
}
.actu2, .actu3, .abo1, .abo2{
    display: flex;
    margin-bottom: 30px;
}
.block3, .block4, .block5, .block6, .block7, .block8, .block9, .block10, .block11{
    width: 33%;
    height: auto;
    background-color: white;
}
.block9:hover, .block10:hover, .block11:hover{
    transform: scale(1.16);
    transition: 0.5s;
}
.block3, .block4, .block6, .block7, .block9, .block10{
    margin-right: 40px;
}
.block12, .block13, .block14, .block15{
    margin-right: 10px;
}
.block12 img, .block13 img, .block14 img, .block15 img, .block16 img{
    width:  100%;
}
.block12, .block13, .block14, .block15, .block16{
    width: 20%;
    height: 310px;
    background-color:  white;
}
.block12:hover, .block13:hover, .block14:hover, .block15:hover, .block16:hover{
    transform: scale(1.1);
    display: block;
    transition: 0.6s;
}
.description{
    font-size: 14px;
}
.block9{
    background-image: url(img/chris.jpg);
    background-repeat: no-repeat;
}

.block10{
    background-image: url(img/eminem2.jpg);
    background-repeat: no-repeat;
}
.block11{
    background-image: url(img/orelsan.jpg);
    background-repeat: no-repeat;
}
h2{
    text-align: center;
    font-size: 30px;
}
h3{
    text-align: center;
    font-size: 19px;
    color: black;
    font-weight: bold;
}
.deco_none{
    text-decoration: none;
}
.chris, .eminem, .orelsan{
    text-decoration: none;
}
.button_abo{
    border: 1px #39b54a solid;
    border-width: 1px 1px;
    border-radius: 40px;
    width: 50%;
    color: white;
    background-color: #39b54a;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 5px;
}
.button_abo:before{
    content: "+";
    font-size: 20px;
    margin-right: 10px;
}
.button{
    font-size: 12px;
    font-weight: bold;
}
.button:hover{
    opacity: 0.8;
}
.nb_abo{
    text-align: center;
    color: #39b54a;
    font-size: 14px;
}

.img_invisible{
    display: flex;
    padding: 10px;
    display: none;
    width: 10%;
}
.block12:hover .img_invisible, .block13:hover .img_invisible, .block14:hover .img_invisible, .block15:hover .img_invisible, .block16:hover .img_invisible{
    display: flex;
    margin-left: 50px;
}

.block12{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.back{
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    display: block;
    width: 100%;
    height: auto;
    margin-top: 30px;
    border: 1px white solid;
    color: black;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.reseau2{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.fb2, .twitter2, .snap2, .insta2, .youtube2, .mac2, .android2{
    width: 20px;
    padding: 20px;
    margin: 5px;
}
.fb2{
    border: 2px #3b5998 solid;
    border-radius: 100%;
}
.twitter2{
    border: 2px #1DA1F2 solid;
    border-radius: 100%;
}
.snap2{
    border: 2px #ffd200 solid;
    border-radius: 100%;
}
.insta2{
    border: 2px #2a5b83 solid;
    border-radius: 100%;
}
.youtube2{
    border: 2px #e52d27 solid;
    border-radius: 100%;
}
.mac2, .android2{
    border: 1px rgb(224, 219, 219) solid;
    background-color: rgb(224, 219, 219);
    border-radius: 100%;
}
.fb2:hover, .twitter2:hover, .snap2:hover, .insta2:hover, .youtube2:hover, .mac2:hover, .android2:hover{
    transform: scale(1.1);
    display: block;
    transition: 0.6s;
}
.footer_all{
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer_all li{
    color: black;
    display: block;
}
.footer_all li a{
    color: black;
    text-decoration: none;
}
.footer_all li a:hover{
    color: #39b54a;
}
.contact, .infos, .pays, .galaxie, .tel{
    margin: 30px 50px 30px 30px;
}
.contact .txt_vert, .pays .txt_vert, .galaxie .txt_vert, .tel .ligne_vert{
    color: #39b54a;
    font-weight: bold;
}
.tel .nb_vert{
    font-size: 22px;
    font-weight: bold;
    color: #39b54a;
}
.img_footer img{
    margin-top: 20px;
    width: 80px;
    height: auto;
}
.page{
    display: flex;
    justify-content: space-between;
    border-top: 2px white solid;
    background-color: rgb(224, 219, 219);
    color: rgb(61, 58, 58);
    font-size: 14px;
    padding: 10px 60px;
}
.nb_page li, .nb_page a{
    text-decoration: none;
    color: rgb(61, 58, 58);
}
.one{
    font-size: 16px;
}
.nb_page a:hover{
    color: #39b54a;
}